:root {
  --main-font: "Roboto", sans-serif;
  --blacklish: #212121;
  --darkish: #757575;
  --bluelish: #2196F3;
}

section {
  padding: 94px 0;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  margin: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #2F303A;
  display: flex;
  align-items: center;
  padding: 94px 0;
}

.base-container {
  display: flex;
}

.btn {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  background: #2196F3;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin-top: 30px;
}
.btn {
  margin: 0 auto;
}

.subscribe__form-btn-send {
  display: flex;
  height: max-content;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  background: var(--bluelish);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 25px;
}

.modal-form-button-send {
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #FFFFFF;
  background-color: #2196F3;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button-send:focus {
  background: #188CE8;
  outline: none;
}

.logo--header {
  margin-right: 92px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
}

.logo--footer {
  color: #FFFFFF;
}

.logo__web {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.container--header {
  display: flex;
  align-items: center;
}

.header__navi {
  display: flex;
  align-items: center;
}

.navi__menu {
  display: flex;
  align-items: center;
}

.navi__item {
  position: relative;
}
.navi__item:not(:last-child) {
  margin-right: 50px;
}

.navi__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blacklish);
}
.navi__link:hover, .navi__link:focus {
  color: #2196F3;
}
.navi__link::after {
  position: absolute;
  display: flex;
  content: "";
  height: 4px;
  width: 100%;
  background-color: transparent;
  flex-shrink: 0;
  border-radius: 2px;
  padding: 0 0 25px 0;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi__link:hover::after {
  background: linear-gradient(to bottom, transparent 90%, #2196F3 10%);
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__elem:hover,
.contacts__elem:focus {
  Fill: #2196F3;
  color: #2196F3;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--bluelish);
}

.contacts__icon {
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-right: 10px;
}
.contacts__icon:hover, .contacts__icon:focus {
  fill: #2196F3;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.container--header {
  display: flex;
  align-items: center;
}

.header__navi {
  display: flex;
  align-items: center;
}

.navi__menu {
  display: flex;
  align-items: center;
}

.navi__item {
  position: relative;
}
.navi__item:not(:last-child) {
  margin-right: 50px;
}

.navi__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blacklish);
}
.navi__link:hover, .navi__link:focus {
  color: #2196F3;
}
.navi__link::after {
  position: absolute;
  display: flex;
  content: "";
  height: 4px;
  width: 100%;
  background-color: transparent;
  flex-shrink: 0;
  border-radius: 2px;
  padding: 0 0 25px 0;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi__link:hover::after {
  background: linear-gradient(to bottom, transparent 90%, #2196F3 10%);
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__elem:hover,
.contacts__elem:focus {
  Fill: #2196F3;
  color: #2196F3;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--bluelish);
}

.contacts__icon {
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-right: 10px;
}
.contacts__icon:hover, .contacts__icon:focus {
  fill: #2196F3;
}

.hero {
  background-color: #212121;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 280px;
}

.heroic--header {
  width: 696px;
  margin: 0 auto;
}

.heroic__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.about {
  padding-bottom: 0;
}

.about__menu {
  display: flex;
}

.about__item:not(:last-child) {
  padding-right: 30px;
}

.about__card {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.about__element {
  padding: 25px 100px;
  background-color: #F5F4FA;
}

.about__element-icon {
  width: 70px;
  height: 70px;
}

.about__card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 10px 0;
  margin-top: 30px;
}

.about__card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.tasks__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.tasks__menu {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.tasks__element {
  position: relative;
}

.tasks__element-img {
  margin-left: 30px;
  margin-top: 30px;
}

.tasks__element-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0px;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.team {
  background-color: #F5F4FA;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team__menu {
  display: flex;
  flex-wrap: wrap;
}

.team__element {
  flex-basis: calc(100% - 120px)/4;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__info {
  background-color: #FFFFFF;
  padding: 30px 32px;
}

.team__info-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__info-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__info-social-link-menu {
  display: flex;
  justify-content: space-between;
}

.team__info-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__info-link:hover, .team__info-link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.team__info-icon {
  width: 20px;
  height: 20px;
}

.clients__title {
  color: #212121;
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  line-height: 100%;
  align-items: center;
  margin-bottom: 50px;
}

.clients__menu {
  display: flex;
}

.clients__element:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: block;
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover svg, .clients__link:focus svg {
  fill: var(--bluelish);
}
.clients__link:hover, .clients__link:focus {
  outline: none;
  border: 1px solid var(--bluelish);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover, .clients__icon:focus {
  fill: var(--bluelish);
}

.contact {
  margin-right: 70px;
}

.contact__address {
  font-style: normal;
  margin-top: 20px;
}

.contact__element:not(:last-child) {
  margin-bottom: 10px;
}

.contact__link-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.contact__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--bluelish);
}

.container-social {
  margin-right: 70px;
  margin-top: 15px;
}

.social__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.social__menu {
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  justify-content: space-between;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--bluelish);
}

.container-subscribe-send {
  display: block;
}

.subscribe__form {
  display: flex;
}

.subscribe__form-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 15px;
}

.subscribe__form-email {
  display: flex;
  align-items: flex-end;
}

.subscribe__form-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 358px;
  height: 50px;
  color: #FFFFFF;
  padding-left: 16px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
}

.subscribe__form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 0;
  outline: none;
  margin: 8px 8px;
}

.close-btn-icon {
  display: block;
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  fill: #000000;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  justify-content: center;
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-imput {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-imput:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-form-imput:focus + .modal-form-icon {
  fill: #2196F3;
}

.modal-form-icon {
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: #212121;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-span {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-massage {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-form-massage::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massage-label {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-massage:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-forn-info-user {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url("../images/icon-check-orig.svg");
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  height: 15px;
  width: 16px;
  border: solid 1px #212121;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 7px;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

.team {
  background-color: #F5F4FA;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team__menu {
  display: flex;
  flex-wrap: wrap;
}

.team__element {
  flex-basis: calc(100% - 120px)/4;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__info {
  background-color: #FFFFFF;
  padding: 30px 32px;
}

.team__info-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__info-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__info-social-link-menu {
  display: flex;
  justify-content: space-between;
}

.team__info-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__info-link:hover, .team__info-link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.team__info-icon {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=main.css.map */