 :root {
     --main-font: 'Roboto', sans-serif;
     --blacklish: color: #212121;
     --darkish: color: #757575;
     --bluelish: color: #2196F3;



 }

 * {
     box-sizing: border-box;
 }

 body {
     font-family: var(--main-font);
     margin: 0;
 }

 ul,
 ol {
     list-style: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin-top: 0;
     margin-bottom: 0;
 }

 ul,
 ol {
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;
 }

 img {
     display: block;
 }

 .container {
     width: 1170px;
     padding-right: 15px;
     padding-left: 15px;
     margin: 0 auto;
 }

 .visually-hidden {
     position: absolute !important;
     width: 1px !important;
     height: 1px !important;
     padding: 0 !important;
     margin: -1px !important;
     overflow: hidden !important;
     clip: rect(0, 0, 0, 0) !important;
     white-space: nowrap !important;
     border: 0 !important;
 }

 .cleart {
     text-decoration: none;
 }

 section {
     padding: 94px 0;
 }

 /* ----------HEADER------ */

 /* ------menu-item---- */
 .header {
     padding-top: 24px;
     padding-bottom: 25px;
 }

 .header-container {
     display: flex;
     align-items: center;
 }

 .navi {
     display: flex;
     align-items: center;
 }

 .menu {
     display: flex;
     align-items: center;
 }

 .menu-link {
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: #212121;

 }

 .menu-item:not(:last-child) {
     margin-right: 50px;
 }



 /* ------menu-item-end----- */

 /* -------logo------ */


 .logo {
     margin-right: 92px;
 }

 .logo {
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.20;
     letter-spacing: 0.03em;
     color: black
 }

 .logo-start {
     font-weight: 700;
     font-size: 26px;
     line-height: 1.20;
     letter-spacing: 0.03em;
     color: #2196F3;
 }

 /* ----------logo-end-------- */

 /* ----------Contact--------- */

 .header-link {
     display: flex;
     align-items: center;
     margin-left: auto;
 }

 .contact-icon {
     width: 16px;
     height: 12px;
     margin: 0 auto;
     margin-right: 10px;
 }

 .header-list:hover,
 .header-list:focus {
     Fill: #2196F3
 }

 /* .contact .contact-icon::after .menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
} */

 .menu-link:hover,
 .menu-link:focus {
     color: #2196F3;
 }

 .menu-item {
     position: relative;
 }



 .menu-link::after {
     position: absolute;
     bottom: -30px;
     display: flex;
     content: "";
     height: 4px;
     width: 100%;
     background-color: transparent;
     flex-shrink: 0;
     border-radius: 2px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .menu-link:hover::after {
     background-color: #2196F3;
 }

 .link-header {
     margin-right: 50px;
 }

 .link-header {
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: #757575;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .link-header:hover,
 .link-header:focus {
     color: #2196F3;
 }

 /* ------contact-end---- */

 /* -----END HEADER----- */

 /* ------- HERO------ */


 .hero {
     background-color: #212121;
     background-image: linear-gradient(rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)),
         url(../images/hero/hero.img.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     padding: 200px 0 280px;
 }

 .heroic {
     width: 696px;
     margin: 0 auto;
 }

 .hero-title {
     margin: 0 auto;
 }

 .modal-btn {
     margin: 0 auto;
 }

 .hero-title {
     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: #FFFFFF;
     width: 696px;
     height: 120px;
 }

 .modal-btn {
     font-weight: 700;
     font-size: 16px;
     line-height: 1.88;
     display: flex;
     align-items: center;
     text-align: center;
     letter-spacing: 0.06em;
     cursor: pointer;
     color: #FFFFFF;

 }

 .modal-btn {
     padding: 10px 32px;
     margin-top: 30px;
     background: #2196F3;
     border-radius: 4px;
     border: none;
 }

 /* -----hero-end---- */

 /* -----peculiarty---- */

 .peculiarity {
     padding-bottom: 0;
 }

 .menu-peculiarity {
     display: flex;
     flex-direction: row;
 }

 .pecul-icon {
     display: flex;
     background-position: center;
 }

 .div-pecul-icon {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 270px;
     height: 120px;
     background-color: #F5F4FA;
 }

 .pecul-icon {
     width: 70px;
     height: 70px;
 }

 .peculiarity-menu {
     width: 270px;
     margin: 0 auto;
     padding-right: 30px;
 }

 .list-peculiarity {
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #212121;
 }

 .list-peculiarity {
     margin: 10px 0;
     margin-top: 30px;
 }

 .text-peculiarity {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.70;
     letter-spacing: 0.03em;
     color: #757575;
 }

 /* -----peculiarty-end---- */

 /* -----tasks--- */

 .our-tasks {
     justify-content: center;
     margin-bottom: 50px;
 }

 .menu-tasks {
     display: flex;
     margin-left: -30px;
     margin-top: -30px;
 }

 .img-tasks {
     margin-left: 30px;
     margin-top: 30px;
 }

 .our-tasks {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.16;
     text-align: center;
     letter-spacing: 0.03em;
     color: #212121;
 }

 .list-tasks {
     /* flex-basis: calc((100%-90px) / 3); */
     position: relative;
 }


 .text-tasks {
     position: absolute;
     bottom: 0;
     right: 0;
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     padding: 27px 0px;
     width: 370px;
     background: rgba(47, 48, 58, 0.8);
     color: #FFFFFF;
 }

 .text-tasks.img-tasks {}



 /* -----tasks-end---- */

 /* -----team---- */

 .team {
     background-color: #F5F4FA;
 }

 .list-team {
     flex-basis: calc(100%-120px)/4;
     margin: 0 auto;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 }

 .div-name {
     padding-left: 0;
     background-color: #FFFFFF;
     padding: 30px 0;
 }

 .name-team {
     margin-bottom: 10px;
 }

 .menu-team {
     display: flex;
     flex-wrap: wrap;
 }

 .our-team {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.16;
     text-align: center;
     letter-spacing: 0.03em;
     color: #212121;
 }

 .our-team {
     margin-bottom: 50px;
 }

 .name-team {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.18;
     text-align: center;
     letter-spacing: 0.03em;
     color: #212121;
 }


 .profession-team {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.18;
     text-align: center;
     letter-spacing: 0.03em;
     color: #757575;
     margin-bottom: 16px;
 }

 .div-name {
     padding-left: 32px;
     padding-right: 32px;
     padding-top: 16px;
 }

 .social-list-link {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 44px;
     height: 44px;
     border-radius: 50%;
     fill: #AFB1B8;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-list-link:hover,
 .social-list-link:focus {
     fill: #FFFFFF;
     background-color: #2196F3;
 }

 .social-link {
     display: flex;
     justify-content: space-between;
 }


 .social-list-icon {
     width: 20px;
     height: 20px;
 }

 /* ----team-end---- */

 /* ------clients------- */

 .regular-customers {
     color: #212121;
     font-size: 36px;
     line-height: 42px;
     line-height: 100%;
     align-items: center;
     Font-style: Bold;

 }

 .regular-customers {
     margin-bottom: 50px;
     text-align: center;
 }

 .clients-menu {
     display: flex;
 }

 .clients-link {
     display: block;
     padding: 16px 32px;
     border: 1px solid #AFB1B8;
     border-radius: 5px;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .clients-link:hover svg,
 .clients-link:focus svg {
     fill: #2196F3;
 }

 .clients-link:hover,
 .clients-link:focus {
     outline: none;
     border: 1px solid #2196F3;
 }

 .clients-icon {
     width: 106px;
     height: 60px;
     fill: #AFB1B8;
 }

 .clients-list:not(:last-child) {
     margin-right: 30px;
 }

 /* ------clients-end----- */

 /* -----END HERO */

 /* -----FOOTER----- */

 .footer {
     background-color: #2F303A;
     display: flex;
     align-items: center;
     padding: 94px 0;
 }

 .basic-div {
     display: flex;
     flex-wrap: wrap;
 }

 address {
     font-style: normal;
     margin-top: 20px;
 }

 .list-footer:not(:last-child) {
     margin-bottom: 10px;
 }



 .logo-footer {
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 26px;
     line-height: 1.20;
     letter-spacing: 0.03em;
     color: #FFFFFF;
 }

 .logo-finish {
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 26px;
     line-height: 1.20;
     letter-spacing: 0.03em;
     color: #2196F3;
 }

 .link-mail-footer {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.70;
     letter-spacing: 0.03em;
     color: #FFFFFF;

 }

 .link-footer {
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .link-footer:hover,
 .link-footer:focus {
     color: #2196F3;
 }

 .footer-title {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #FFFFFF;
 }

 .social-div {
     margin-right: 70px;
 }

 .footer-link-list {
     margin-right: 70px;
 }

 .footer-title {
     margin-bottom: 20px;
 }

 .social-link-footer {
     display: flex;
     flex-wrap: wrap;
     width: 206px;
     justify-content: space-between;

 }

 .social-list-link-footer {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 44px;
     height: 44px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.1);
     fill: #FFFFFF;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-list-link-footer:hover,
 .social-list-link-footer:focus {
     background-color: #2196F3;
 }

 .footer-link-list {
     margin-top: 15px;
 }

 .subscribe {
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #FFFFFF;
     margin-top: 18px;
     margin-bottom: 20px;
 }

 .form-subscribe-send-label {
     border: 1px solid rgba(255, 255, 255, 0.3);
     border-radius: 4px;
     margin-right: 12px;
 }

 .form-subscribe-send-input {
     background-color: transparent;
     border: none;
     outline: none;
     width: 358px;
     height: 50px;
     color: #FFFFFF;
     padding-left: 16px;
 }

 .form-Subscribe-link-send {
     font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
     display: block;
     letter-spacing: 0.06em;
     color: #FFFFFF;
     padding: 10px 25px;
     display: flex;
     flex-grow: center;
     cursor: pointer;
     background: #2196F3;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     border: none;
 }

 .form-footer-subscribe {
     display: flex;
 }

 .icon-send-footer {
     width: 24px;
     height: 24px;
     margin-left: 10px;
 }

 /* ----END FOOTER---- */

 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.2);
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal {
     position: absolute;
     left: 50%;
     top: 50%;
     width: 528px;
     height: 581px;
     background-color: #FFFFFF;
     transform: translate(-50%, -50%);
 }


 .close-btn {
     position: absolute;
     top: 0;
     right: 0;
     border-radius: 50%;
     border: 1px solid rgba(0, 0, 0, 0.1);
     background-color: #FFFFFF;
     cursor: pointer;
     padding: 0;
     outline: none;
     margin: 8px 8px;
 }

 .close-btn-icon {
     display: block;
     width: 30px;
     height: 30px;
     padding: 6px 6px;
     fill: #000000;
 }

 .is-hidden {
     visibility: hidden;
     opacity: 0;
     pointer-events: none;
 }

 .modal-form {
     display: flex;
     flex-direction: column;
     padding: 40px;
 }

 .modal-form-head {
     font-weight: 700;
     font-size: 20px;
     line-height: 1.15;
     text-align: center;
     letter-spacing: 0.03em;
     color: #212121;
     justify-content: center;
     margin-bottom: 12px;
 }

 .modal-form-field {
     margin-bottom: 10px;
 }

 .modal-form-imput {
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     width: 100%;
     height: 40px;
     padding-left: 40px;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-form-imput:focus {
     outline: none;
     border-color: #2196F3;
 }

 .modal-form-imput:focus+.modal-form-icon {
     fill: #2196F3;
 }


 .modal-form-user-info {
     font-weight: 400;
     font-size: 12px;
     line-height: 1.16;
     letter-spacing: 0.01em;
     letter-spacing: 0.01em;
     color: #757575;
 }

 .modal-form-icon {
     left: 15px;
     top: 50%;
     transform: translateY(-50%);
     position: absolute;
     color: #212121;
     width: 12px;
     height: 12px;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-window-span {
     display: block;
     position: relative;
     margin-top: 4px;
 }

 .modal-form-massage {
     width: 100%;
     height: 120px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     padding: 12px 16px;
     margin-top: 4px;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     resize: none;
 }

 .modal-form-massage::placeholder {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.01em;
     color: rgba(117, 117, 117, 0.5);
 }

 .modal-form-massage-label {
     margin-bottom: 20px;
 }

 .modal-form-massage:focus {
     outline: none;
     border-color: #2196F3;
 }

 .modal-forn-info-user {
     font-weight: 400;
     font-size: 12px;
     line-height: 1.16;
     letter-spacing: 0.01em;
     color: #757575;
 }

 .modal-form-checkbox:checked+.modal-form-checkbox-label::before {
     background-image: url("../images/icon-check-orig.svg");
 }

 .modal-form-checkbox-label::before {
     display: block;
     content: "";
     height: 15px;
     width: 16px;
     border: solid 1px #212121;
     cursor: pointer;
     border-radius: 4px;
     margin-right: 7px;
 }

 .modal-form-checkbox-label {
     display: flex;
     align-items: center;
     margin-bottom: 30px;
 }

 .modal-form-link {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     text-decoration-line: underline;
     color: #2196F3;
 }

 .modal-form-button-send {
     display: block;
     margin: 0 auto;
     margin-bottom: 30px;
     letter-spacing: 0.06em;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
     color: #FFFFFF;
     background-color: #2196F3;
     padding: 10px 55px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-form-button-send:focus {
     background: #188CE8;
     outline: none;
 }