.container-subscribe-send {
    display: block;
}

.subscribe__form {
    display: flex;
}

.subscribe__form-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 15px;
}

.subscribe__form-email {
    display: flex;
    align-items: flex-end;
}

.subscribe__form-input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 358px;
    height: 50px;
    color: #FFFFFF;
    padding-left: 16px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-right: 12px;
}

.subscribe__form-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}